<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="assets/js/vue.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/styles/styles.css">
  <title>Techno</title>
</head>
<body>
  <div id="app">
    <header class="header">
      <img src="./assets/images/techno.svg" alt="Techno" class="logo">
      <div class=cart-menu>{{cartTotal | numberPrice}} | {{cart.length}} </div>
      <ul>
        <li v-for="(item, index) in cart">
          <p>{{item.nome}}</p>
          <button @click="removeItem(index)">X</button>
        </li>
      </ul>
    </header>
    <section class="products">
      <div v-for="item in products" @click="openModal(item.id)" :key="item.id" class="product">
        <img :src="item.image" :alt="item.name" class="product-image">
        <div class="product-info">
          <span class="product-price">{{item.price | numberPrice }}</span>
          <h2 class="product-tittle">{{item.name}}</h2>
        </div>
      </div>
    </section>

    <section class="modal" v-if="product" @click="closeModal">
      <div class="modal-container">
        <div class="modal-image">
          <img :src="product.img" :alt="product.nome">
        </div>
        <div class="modal-data">
          <button @click="product = false" class="modal-close">X</button>
          <span class="modal-price">{{product.preco | numberPrice}}</span>
          <h2 class="modal-title">{{product.nome}}</h2>
          <p>{{product.descricao}}</p>
          <button v-if="product.estoque > 0" class="modal-button" @click="addItem">Adicionar Item</button>
          <button v-else class="modal-button disabled" disabled>Produto Esgotado</button>
        </div>
        <div class="reviews">
          <h2 class="reviews-subtittle">Avaliações</h2>
          <ul>
            <li v-for="review in product.reviews" class="review">
              <p class="review-description">{{review.descricao}}</p>
              <p class="review-user">{{review.nome}} | {{review.estrelas}} estrelas </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="alert" :class="{active: alertActive}">
      <p class="message-alert">{{alertMessage}}</p>
    </div>
  </div>

  <script src="./app.js"></script>
</body>
</html>